/* .btn-cart {
    text-align: center;
    background-size: 200%;
    color: white;
    padding: 5px 25px;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 234, 255);
    border-image: initial;
    
    background-image: linear-gradient(to right, rgb(252, 0, 255) 0%, rgb(0, 219, 222) 51%, rgb(252, 0, 255) 100%);
} */

/* .btn-cart {
    background-image: linear-gradient(to right, rgb(252, 0, 255) 0%, rgb(0, 219, 222) 51%, rgb(252, 0, 255) 100%);
} */

/* .btn-details {
    text-align: center;
    background-size: 200%;
    color: white;
    padding: 5px 25px;
    transition: all 0.5s ease 0s;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 121, 145);
    border-image: initial;
    background-image: linear-gradient(to right, rgb(0, 121, 145) 0%, rgb(120, 255, 214) 51%, rgb(0, 121, 145) 100%);
} */


.cartClass{
    position: fixed;
    top: 2;
    right: 0;
    
    z-index: 25;
}
